---
---

<section class="form-container">
  <h2>Contact me</h2>
  <form>
    <input type="text" placeholder="Name" name="name" />
    <input type="email" placeholder="E-mail" name="email" required />
    <textarea rows="3" name="text" required></textarea>
    <button type="submit">Send</button>
  </form>
</section>

<style lang="scss">
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    form {
      display: flex;
      flex-direction: column;
      width: 80%;
      gap: 10px;
      padding: 15px;
      box-shadow: 1px 1px 25px 1px black;
      border-radius: 10px;
      max-width: 500px;

      input {
        color: black;
        padding-top: 5px;
        padding-bottom: 5px;
      }
      textarea {
        resize: none;
        color: black;
      }
      button {
        background-color: #40b480;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 5px;
        color: black;
      }
    }
  }
</style>
