---
---

<section class="form-container">
  <h2>Contact me</h2>
  <form>
    <input type="text" placeholder="Name" name="name" />
    <input type="email" placeholder="E-mail" name="email" required />
    <textarea rows="3" name="text" required></textarea>
    <button type="submit">Send</button>
  </form>
</section>

<style lang="scss">
  .form-container {
    form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      input {
        color: black;
      }
      textarea {
        resize: none;
        color: black;
      }
      button {
        background-color: #40b480;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 5px;
        color: black;
      }
    }
  }
</style>
