<nav class="nav-container">
  <ul class="nav-list">
    <li>
      <a href="https://www.linkedin.com/in/kevin-jay-herrera-1a1291233/"
        >Linkedin</a
      > /
    </li>
    <li>
      <a href="https://github.com/kevinjay4567">Github</a>
    </li>
  </ul>
</nav>

<style lang="scss">
  .nav-container {
    display: flex;
    justify-content: flex-end;
    ul {
      display: flex;
      list-style: none;
      gap: 2px;
      li {
        font-style: italic;
        display: flex;
        justify-content: center;
        a {
          color: #ababab;
          text-decoration: none;
        }
      }
    }
  }
</style>
