<section class="tec-section">
  <h2>Tecnologies</h2>
  <div class="tec-list">
    <ul>
      <li>Vue</li>
      <li>Laravel</li>
      <li>Tailwind</li>
      <li>Typescript</li>
      <li>Git</li>
      <li>Docker</li>
    </ul>
  </div>
</section>

<style lang="scss">
  .tec-list {
    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      list-style: none;
      gap: 5px;
    }
  }
</style>
